body{
	background: black;
	margin: 0;
	padding: 0;
}
.container{
	width: 80%;
	background: white;
	height: 600px;
	margin: auto;
}
.nav ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	width: 100%; 
	background-color: #333;
	overflow: hidden;
}
li{
	float: left;
}
.nav ul li a{
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
	text-align: center;
} 
.nav ul li a:hover{
	background-color: #4CAF50;
}
.active {
  background-color: #111;
}
#right{
	float: right;
}
.text{
	width: 100%;
	padding: 27px 37px;
}
#pf{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
}
#nt{
	font-size: 22px;
}

.img1{
	width: 40%;
	float: left;
	padding: 42px 49px;
}
.img2{
	float: left;
	width: 40%;
	padding: 42px 49px;
	
}
img{
	width: 96%;
}
#pt{
	padding: 8px 8px;
}